[tools]
deno = "2.6.3"
"npm:@fission-ai/openspec" = "0.18.0"

[tasks.check]
run = { tasks = ["check:format", "check:type", "check:lint", "check:workflow"] }

[tasks."check:format"]
run = "deno fmt --check"

[tasks."check:type"]
run = "deno check"

[tasks."check:lint"]
run = "deno lint"

[tasks."check:workflow"]
tools.actionlint = "1.7.10"
tools.ghalint = "1.5.4"
run = ["actionlint", "ghalint act"]

[tasks.fix]
run = [{ task = "fix:format" }, { task = "fix:lint" }]

[tasks."fix:format"]
run = "deno fmt"

[tasks."fix:lint"]
run = "deno lint --fix"

[tasks.build]
usage = '''
arg "<VERSION>" env="BUILD_VERSION"
arg "<PLATFORM>" env="BUILD_PLATFORM"
'''
run = [
  "mise run internal:build -- ${usage_version:?} ${usage_platform:?} src/cli/chroma.ts",
  "mise run internal:build -- ${usage_version:?} ${usage_platform:?} src/cli/chromad.ts",
]
