experimental_monorepo_root = true
monorepo.config_roots = ["packages/*"]

[tools]
bun = "1.3.6"
lefthook = "2.0.15"

[hooks]
postinstall = "lefthook install"

[tasks."gha:lint"]
tools.actionlint = "1.7.10"
tools.ghalint = "1.5.4"
run = ["actionlint", "ghalint act"]
