[tasks.check]
extends = "check"

[tasks.fix]
extends = "fix"

[tasks.test]
extends = "test"

[tasks.dev]
env = { CHROMA_RUNTIME_DIR = "{{ [env.XDG_RUNTIME_DIR, 'chroma-dev'] | join_path }}", CHROMA_LOG_LEVEL = "DEBUG" }
tools.watchexec = "2.3.3"
run = '''
mkdir -p $CHROMA_RUNTIME_DIR
watchexec --on-busy-update restart --stop-signal SIGTERM -- \
  bun run --define BUILD_VERSION='\"dev\"' --define BUILD_TIME='\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"' src/main.ts
'''

[tasks.build]
usage = '''
arg "<version>" env="BUILD_VERSION"
arg "<platform>" env="BUILD_PLATFORM"
'''
run = '''
bun build --compile --bytecode --target=${usage_platform:?} --minify \
  --define 'process.env.NODE_ENV="production"' \
  --define BUILD_VERSION="'${usage_version:?}'" \
  --define BUILD_TIME="'$(date -u +%Y-%m-%dT%H:%M:%SZ)'" \
  src/main.ts --outfile build/chromad
'''
