name: Release
run-name: 'Release (${{ github.event.release.tag_name }})'

on:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    strategy:
      matrix:
        platform:
          - linux-x64
          - linux-arm64
          - darwin-x64
          - darwin-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2026.1.11
          experimental: true

      - name: Install dependencies
        run: bun ci

      - name: Run build
        run: mise run //packages/...:build
        env:
          BUILD_VERSION: ${{ github.event.release.tag_name }}
          BUILD_PLATFORM: bun-${{ matrix.platform }}-modern

      - name: Make tarball
        run: mise run //:dist -- chroma-${{ github.event.release.tag_name }}-${{ matrix.platform }}

      - name: Upload tarball
        run: gh release upload ${{ github.event.release.tag_name }} dist/*.tar.gz
        env:
          GH_TOKEN: ${{ github.token }}
